<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://npmcdn.com/tachyons@4.0.6/css/tachyons.min.css")
		block styles
		block title
			title Condor Project Mock
	body(class="center mw9-l br bl")
		header(class="flex flex-wrap items-center justify-between w-100 bb top-header pr4-l pt3-l pb3-l pl4-l pa2")
			div#hamburguer(class="f2 dn-m dn-l") &#8801;
			div(class="ttu w-60 w-10-ns h-100")
				div#logo(class="w-100 h-100") logo
			div#search-ico(class="dn-ns w-10 tc f4")
					svg(class="icon icon-search")
						<use xlink:href="#icon-search"></use>
			div#search(class="self-center pr4-l w-100 w-25-ns tr dn db-ns")
				form#search-form(action="#" role="search" class="")
					input(type="search" placeholder="Buscar..." class="w-100 search--open")

		main(class="flex justify-between")
			div#sidebar(class="w-33-m w-25-l w-100 br pl3 pr3 pl4-l db-ns fixed static-ns sidebar")
				h1 Categorías
				nav
					ul.list
						block navigation

			div#content(class="pl4-l pr4-l pr3 pl3 w-100 w-60-m w-75-l center")
				block content

		footer(class="flex flex-wrap justify-between pr4 pl4 bt pt3 pb2")
			div#subnav
				h1(class="f4") Projecto Condor
				ul.list
					li(class="dib mr2")
						a(href="home.html") Inicio
						|  |
					li(class="dib mr2")
						a(href="about.html") ¿Quienes Somos?
						|  |
					li(class="dib mr2")
						a(href="faq.html") FAQ
			div(class="self-end f6")
				small.
					Developed by &copy;FriasDesign.<br>Designed by &copy;Imaginer. All rights reserved.

		block scripts
	include ./icons.pug
