extends ../templates/basic.pug

block title
	title About | Sample Boiler

block content
	h1 ABOUT
	
	nav
		a(href="index.html") Index | 
		a(href="about.html") About
	
	div.
		This is about page! Enjoy!
