extends ../templates/basic.pug

block title
	title Index | Sample Boiler

block styles
	link(rel="stylesheet", href="styles/index.css")

block content
	h1 INDEX
	
	nav
		a(href="index.html") Index | 
		a(href="about.html") About
	
	div#hello.
		= message

	div.
		This is index page! Enjoy!

block scripts
	script(src="js/index.js")