extends ../templates/basic.pug

include ../templates/mixins.pug

block title
	title Home -MOCK- | Condor Project

block styles
	link(rel="stylesheet", href="styles/index.css")

block navigation
	+navigation(categories)

block content
	section#featured(class="flex justify-between flex-wrap")
		h1.w-100-l Artículos Destacados
		each article in featured
			+article(article)
	section#recent(class="flex justify-between flex-wrap")
		h1.w-100-l Artículos Recientes
		each article in recent
			+article(article)
