extends ../templates/basic.pug

include ../templates/mixins.pug

block styles
	link(rel="stylesheet", href="styles/search.css")

block navigation
	+navigation(categories)

block content
	h1.mb3 Resultados
	+filterBar()

	section#results(class="flex justify-between flex-wrap")
		each article in featured
			+article(article)

block scripts
	script(src="js/search.js")