* {
	border-color: #c7c7c7;
}

#logo {
	width: 70px;
	background-color: #c7c7c7;
	color: #e6e6e6;
	line-height: 70px;
	text-align: center;
}

.subheading {
	color: #A0A0A0;
}

@media screen and (min-width: 64em) {
	.top-header {
		height: 100px;
	}
	main {
		min-height: 90vh;
	}
}
