* {
	border-color: #c7c7c7;
}

body {
	min-height: 100vh;
}

#logo {
	height: 100px;
	width: 100px;
	background-color: #c7c7c7;
	color: #e6e6e6;
	line-height: 100px;
	text-align: center;
}

.subheading {
	color: #A0A0A0;
}
